@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body{
	height: 100%;
}
body {
    min-width: 1000px;
    margin: 0;
    background-color: #ffffff;

    color: #000000;
    font-family: 'Roboto', 'Arial',sans-serif;
    font-size: 16px;
    line-height: 20px;
}

img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
display: flex;
width: 1000px;
margin: 0 auto;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
        }
}
.spinner {
    width: 30px;
    height: 30px;
    border: 6px solid #000;
    border-left-color: #333;
    border-right-color: transparent;
    border-bottom-color: #555;
    border-radius: 100%;
    animation: spin 600ms infinite linear;
    background-color: rgba(255, 255, 255, 0);
}